<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>

     <add name="test" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Hassan Arshad\Documents\Employee.mdf;Integrated Security=True;Connect Timeout=30"/>

   </connectionStrings>
</configuration>